# An√°lise de dados de supermercado

In [46]:
import pandas as pd
import plotly.express as px
print(pd.__version__)

2.2.0

In [4]:
data = pd.read_csv("supermarket_sales - Sheet1.csv")
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## Limpeza e Tratamento dos Dados

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [6]:
data.isna().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [9]:
data[data.duplicated()]

Empty DataFrame
Columns: [Invoice ID, Branch, City, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, cogs, gross margin percentage, gross income, Rating]
Index: []

O dataset n√£o possui valores nulos e nem linhas duplicadas, ent√£o o dataset est√° quase pronto para uso.


Para terminar o tratamento de dados, basta an√°lisar as colunas que ser√£o utilizadas para a an√°lise e excluir as colunas que n√£o ser√£o utilizadas.
Lembre-se, informa√ß√µes que n√£o me ajudam, me atrapalham.

## Perguntas de neg√≥cio

Antes de decidir quais colunas s√£o uteis ou n√£o, √© preciso decidir quais informa√ß√µes eu quero extrair desse dataset. Logo, primeiro vamos dar uma olhada geral no dataset.

In [10]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

Ent√£o basicamente, esse √© um dataset com informa√ß√µes sobre as vendas de um supermercado em diferentes cidades. Logo, temos informa√ß√µes sobre a cidade daquela unidade, o tipo de consumidor, genero  do consumidor, a linha do produto que ele fez a compra, quantos itens foram vendidos nas unidades daquela cidade, a forma de pagamento utilizada e o valor total de vendas.

## Perguntas

Ent√£o algumas informa√ß√µes que podemos retirar desse dataset :

1. Qual a cidade que obteve um maior valor de vendas?
2. Qual a cidade que teve maior quantidade de vendas?
3. Qual o total do valor de vendas em todas as unidades de todas as cidades?
4. Quantos produtos foram vendidos em cada categoria de produto?
5. Qual a forma de pagamento mais utilizada em cada cidade?
6. Qual a forma de pagamento mais utilizada no geral?
7. Qual a categoria de produtos que obteve maior valor de vendas?
8. Qual o m√™s que mais vendeu? e  o que menos vendeu?
9. Qual a categoria de produto mais vendida para cada genero?

## Primeira Pergunta

Qual a cidade que obteve um maior valor de vendas?

In [17]:
data_cidade = data.groupby("City")["Total"].sum()
cidade_maior_valor_vendas = data_cidade.idxmax()
cidade_menor_valor_vendas = data_cidade.idxmin()
print(f"A cidade que obteve o maior valor de vendas foi : {cidade_maior_valor_vendas}")
print(f"A cidade que obteve o menor valor de vendas foi : {cidade_menor_valor_vendas}")

A cidade que obteve o maior valor de vendas foi : Naypyitaw
A cidade que obteve o menor valor de vendas foi : Mandalay

Com isso, encontramos as cidades com o maior e menor valor de vendas.

## Segunda pergunta
Qual a cidade que teve a maior quantidade de vendas?

In [27]:
data_quantidade_vendas = data.groupby("City")["Quantity"].sum()

print(f"a cidade que teve a maior quantidade de vendas foi : {data_quantidade_vendas.idxmax()}, com {data_quantidade_vendas.max()} vendas.")

a cidade que teve a maior quantidade de vendas foi : Yangon, com 1859 vendas.

## Terceira pergunta
Qual o total do valor de vendas em todas as unidades de todas as cidades?

In [29]:
valor_total_vendas = data["Total"].sum()
print(f"O valor total de vendas em todas as unidades foi : {valor_total_vendas}")

O valor total de vendas em todas as unidades foi : 322966.749

In [32]:
data_cidade

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

## Quarta pergunta
Quantos produtos foram vendidos em cada categoria de produto?

In [34]:
quantidade_vendas_por_categoria = data.groupby("Product line")["Quantity"].sum()
quantidade_vendas_por_categoria

Product line
Electronic accessories    971
Fashion accessories       902
Food and beverages        952
Health and beauty         854
Home and lifestyle        911
Sports and travel         920
Name: Quantity, dtype: int64

## Quinta pergunta
Qual a forma de pagamento mais utilizada em cada cidade?

In [37]:
pagamento_por_cidade = data.groupby("City")["Payment"].value_counts()
pagamento_por_cidade

City       Payment
Mandalay   Ewallet        113
           Cash           110
           Credit card    109
Naypyitaw  Cash           124
           Ewallet        106
           Credit card     98
Yangon     Ewallet        126
           Cash           110
           Credit card    104
Name: count, dtype: int64

## Sexta pergunta

Qual a forma de pagamento mais utilizada no geral?

In [44]:
forma_pagamento_mais_usada = data["Payment"].value_counts()
forma_pagamento_mais_usada

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

## Setima pergunta
Qual a categoria de produtos que obteve o maior valor de vendas?

In [59]:
categoria_maior_valor_vendas = data.groupby("Product line")["Total"].sum()
categoria_maior_valor_vendas

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

In [60]:
print(f"A categoria que obteve o maior valor de vendas foi : {categoria_maior_valor_vendas.idxmax()}")

A categoria que obteve o maior valor de vendas foi : Food and beverages

## Oitava pergunta

Qual foi o m√™s que teve maior valor de vendas?

In [62]:
data["Date"]

0       1/5/2019
1       3/8/2019
2       3/3/2019
3      1/27/2019
4       2/8/2019
         ...
995    1/29/2019
996     3/2/2019
997     2/9/2019
998    2/22/2019
999    2/18/2019
Name: Date, Length: 1000, dtype: object

In [66]:
data["Date"] = pd.to_datetime(data["Date"], format = "%m/%d/%Y")
data["Month"] = data["Date"].dt.month

In [74]:
att_data = {'mes' : [1,2,3]}
meses = {1 : "Janeiro", 2 : "Fevereiro", 3 : "Mar√ßo"}

data["nome_mes"] = data["Month"].map(meses)

In [78]:
mes_maior_valor_vendas = data.groupby("nome_mes")["Total"].sum()
mes_maior_valor_vendas

nome_mes
Fevereiro     97219.374
Janeiro      116291.868
Mar√ßo        109455.507
Name: Total, dtype: float64

## Nova pergunta
Qual a categoria de produto mais vendida para cada genero?

In [81]:
categoria_genero = data.groupby(["Product line", "Gender"])["Quantity"].sum()
categoria_genero

Product line            Gender
Electronic accessories  Female    488
                        Male      483
Fashion accessories     Female    530
                        Male      372
Food and beverages      Female    514
                        Male      438
Health and beauty       Female    343
                        Male      511
Home and lifestyle      Female    498
                        Male      413
Sports and travel       Female    496
                        Male      424
Name: Quantity, dtype: int64